/* Global settings*/
:root
{
    /* Set Bootstrap variables here*/
    --bs-primary: #a26;
}

body
{
    background-color: var(--bs-secondary-bg);
}
main
{
    background-color: var(--bs-body-bg);
}
nav
{
    background-color: var(--bs-primary);
}
h2
{
    margin-top: 2em;
    margin-bottom: 1em;
}

/* About Me */
#about-me p
{
    text-align: justify;
}

/* Technologies */
#tech-list-target h3
{
    font-size: 1.3em;
}

#tech-list-target a
{
    white-space: nowrap;
    margin: 2em;
}

#tech-list-target img
{
    width: 2em;
    height: 2em;
    margin: 1em;
}

.example img
{
    float: left;
    width: 30%;
    min-width: 20em;
    margin-right: 5em;
    
}

.example h2
{
    margin-bottom: 0.5em;
}

.example p
{
    text-align: justify;
}

.example .project-link, .code-link
{
    margin: 1em;
}

.example .tag
{
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
}

.example .tag-container
{
    margin-bottom: 1em;
}
